
@{
    ViewBag.Title = "Thông tin cửa hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start All Title Box -->
<div style="background: url(/images/bg1.jpg)" class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Thông tin cửa hàng</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Shop","Home")">Sản Phẩm</a></li>
                    <li class="breadcrumb-item active">Thông tin cửa hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="/images/cuahang.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">Chúng tôi là <span>WatchTime</span></h2>
                <p>

                    WatchTime được thành lập vào năm 2008. Ra đời trong thời điểm kinh doanh qua internet tại Việt Nam còn non trẻ, thị trường còn khó khăn.
                    Trong quá trình phát triển, WatchTime mở rộng hoạt động kinh doanh đa dạng hơn là kênh phân phối, bán lẻ các thương hiệu đồng hồ danh tiếng. Khách hàng luôn luôn tin tưởng sử dụng sản phẩm và dịch vụ được cung cấp bởi WatchTime. Qua đó, WatchTime luôn duy trì được tốc độ tăng trưởng cao, toàn diện về mọi mặt một cách bền vững so với các công ty kinh doanh cùng lĩnh vực.

                    Công ty có đội ngũ nhân viên trẻ nhưng am hiểu sâu sắc về nghiệp vụ, chuyên môn cao, đủ khả năng để có thể đáp ứng mọi yêu cầu dù khắt khe nhất của khách hàng. Không những thế, đội ngũ nhân viên của Đăng QuangWatch còn là những người đầy lòng nhiệt tình và có thái độ niềm nở trong cung cách phục vụ khách hàng.
                    WatchTime cam kết duy trì mối quan hệ đối tác lâu dài, tận tụy với khách hàng. Sự thành công của khách hàng cũng là sự thành công của chúng tôi.
                </p>
               
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Uy tín hàng đầu</h3>
                    <p>Với kinh nghiệm hơn 20 năm trong ngành đồng hồ, WatchTime tự tin đem đến cho bạn những chiếc đồng hồ tốt nhất cùng trải nghiệm tuyệt vời khi mua đồng hồ tại Hải Triều. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Hậu đãi hàng đầu</h3>
                    <p>Chế độ bảo hành lên đến 5 năm cho tất cả đồng hồ chính hãng mua tại WatchTime <<== Đầu Tiên Và Duy Nhất Tại Việt Nam.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Đổi hàng dễ dàng</h3>
                    <p>Đồng hồ sai kích cỡ? Màu sắc không hợp với bạn? Bạn mua làm quà tặng người thân nhưng người nhận không ưng ý? Đừng lo! Bạn có thể đổi hàng trong vòng 7 ngày. </p>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <h2 class="noo-sh-title">Những người thực hiện</h2>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="/images/phat.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Nguyễn Tấn Phát</h3> <span class="post">Giám đốc cửa hàng</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="/images/nguyen.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Nguyễn Minh Nguyên</h3> <span class="post">Trưởng phòng quản lý nhân sự</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="/images/nhan.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Lê Trí Nhân</h3> <span class="post">Quản lí kho hàng</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="/images/huy.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Nguyễn Quang Huy</h3> <span class="post">Quản lí ship hàng</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="/images/hung.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Cao Quốc Hưng</h3> <span class="post">Thiết kế giao diện web</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                    </div>
                    <hr class="my-0">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Page -->
