
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start All Title Box -->
<div style="background: url(/images/bg1.jpg)" class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Liên hệ với chúng tôi</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Shop","Home")">Sản Phẩm</a></li>
                    <li class="breadcrumb-item active"> Liên hệ </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2>Thông tin của bạn</h2>
                    <p>Vui lòng nhập đầy đủ thông tin, chúng tôi sẽ hỗ trợ bạn một cách nhanh nhất  </p>
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Tên của bạn" required data-error="Vui lòng điền vào ô này">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Email" id="email" class="form-control" name="name" required data-error="Vui lòng điền vào ô này">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" name="name" placeholder="Tiêu đề" required data-error="Vui lòng điền vào ô này">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Vấn đề của bạn" rows="4" data-error="Vui lòng điền vào ô này" required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="submit-button text-center">
                                    <button class="btn hvr-hover" id="submit" type="submit">Gửi</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div>
                    <h2>Thông tin liên hệ</h2>
                    <p>
                        Thời gian tự nhiên thì vô hạn nhưng mỗi người lại chỉ có một số năm hữu hạn để sống. Thậm chí, chẳng ai biết được liệu ngày mai mình có còn hiện diện trên cuộc đời này. Vì vậy, hãy sống theo cách bạn muốn, chọn những thứ bạn cảm thấy phù hợp và theo đuổi những điều bạn thực sự yêu thích. Đừng sống theo định hướng, mong muốn của người khác bởi họ không thể vẽ đường mãi cho bạn được.
                        Cuộc đời là của mình, hãy dùng thời gian mình có để thực hiện những hoài bão, đam mê nhé!
                    </p>
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i>Địa chỉ: 273 An Dương Vương, Hồ Chí Minh </p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-square"></i>Điện thoại: <a href="tel:+84988325962">+84 7777 99999 0</a></p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">quochung5962@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->
