
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/layoutdetail.cshtml";
}
<div class="row">
    <div class="col-xl-5 col-lg-5 col-md-6">
        <div class="single-product-slider carousel slide" id="carousel-example-1" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active"> <img src="@ViewBag.Xemsp.HinhAnh" alt="First slide" class="d-block w-100"> </div>          
            </div>
          
        </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-6">
        <div class="single-product-details">
            <h2>@ViewBag.Xemsp.TenSanPham</h2>
            <h5>@ViewBag.Xemsp.Gia</h5>
            </p><h4>Mô tả sản phẩm</h4>
                <p>
                    Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả
                    Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả
                </p>
            <ul>
                <li>
                    <div class="form-group quantity-box">
                        <label class="control-label">Số lượng</label>
                        <input type="number" class="form-control" max="20" min="0" value="0">
                    </div>
                </li>
            </ul>

            <div class="price-box-bar">
                <div class="cart-and-bay-btn">

                    <a asp-controller="Home" asp-action="addCart" asp-route-id="@ViewBag.Xemsp.IDSanPham" class="btn hvr-hover" data-fancybox-close="">Thêm vào giỏ hàng</a>
                </div>
            </div>

            <div class="add-to-btn">

                <div class="share-bar">
                    <a href="#" class="btn hvr-hover"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="btn hvr-hover"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" class="btn hvr-hover"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="btn hvr-hover"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                    <a href="#" class="btn hvr-hover"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

