@{ ViewBag.Title = "Đăng kí";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Modern Login Form Responsive Widget Template :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/css/style1.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Snippet" rel="stylesheet"><!--online fonts-->
    <!-- //web-fonts -->
</head>
<body>
    <div data-vide-bg="video/keyboard">
        <div class="main-container">
            <!--header-->
            <div class="header-w3l">

            </div>
            <!--//header-->
            <!--main-->
            <div class="main-content-agile">
                <div class="w3ls-pro">
                    <h2>Đăng kí ngay</h2>
                </div>
                <div class="sub-main-w3ls">
                    <form action="#" method="post">
                        <input placeholder="Nhập tài khoản" name="enter mail" type="email" required="">

                        <input placeholder="Nhập mật khẩu" name="Password" type="password" required="">
                        <input placeholder="Nhập lại mật khẩu" name="rePassword" type="password" required="">

                        <div class="checkbox-w3">

                        </div>
                        <div class="social-icons">

                        </div>

                        <input type="submit" value=">">
                    </form>
                </div>
            </div>
            <!--//main-->
            <!--footer-->
            <div class="footer">

            </div>
            <!--//footer-->
        </div>
    </div>
    <!-- js -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script><!--common-js-->
    <script src="~/js/jquery.vide.min.js"></script><!--video-js-->
    <!-- //js -->
</body>
</html>